/*Para resetear todos los estilos
*{
    margin: 0;
    padding: 0;
}
*/

body{
    margin: 0; 
    padding: 0; 
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none; /*Para quitar toda la decoración a las eqtiquetas de anchor*/
    cursor: pointer; /*Para tener un apuntador al pasar el mouse*/
}

header{
    width: 100%;
    height: 60px;
}

header nav{
    display: flex;
    justify-content: flex-end; /*Para mandar a los elementos del nav al final de forma horizontal*/
}
header nav .nav-right-section{
    width: 250px;
    height: auto; /*Que sea automático ya que al padre ya tiene cierta altura*/
    display: flex;
    list-style: none; /*Para quitar los estilos que tienen las listas por default*/
    justify-content: center; /*Para que el contenido se quede centrado*/
    align-items: center;
}

nav .nav-right-section a{
    margin-right: 10px;
    color: #000000;
}

nav .nav-right-section .Menu-Icon{
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .nav-right-section img{
    border-radius: 50%;
    margin-left: 10px;
}

main{
    margin-top: 150px;/**/
    text-align: center; /**/
}

main .Main-logo{
    width: 530px;
    margin: 0 auto;/**/
    margin-bottom: 35px;
}

main .Main-logo img{
    width: 300px;
}

